.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: #2C323B;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: #2C323B;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: #2C323B;
}
